<html>
	<head>
		<title>Add Viewing - FilmTrackr</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
	</head>
   <body>
		<a href="{{ url_for('splash_page') }}"><button type="button" name="logo">FilmTrackr</button></a>
		<form action = "http://localhost:5000/adder" method = "POST">
         <input type = "text" name = "title" placeholder="Movie Title"/>
		 <p>Day seen: <input type = "text" name = "day" placeholder="(1-31)"/></p>
		 <p>Month seen: <input type = "text" name = "month" placeholder="(1-12)"/></p>
		 <p>Year seen: <input type = "text" name = "year" placeholder="(YYYY)"/></p>
		 <p>Seen in theater? </p>
		 <label class="switch">
			<input type="checkbox" name="Theater" value="yes">
			<div class="slider round"></div>
		</label>
		<p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>