<!DOCTYPE html>
<html>
	<head>
		<title>Upload File - FilmTrackr</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
	</head>
	<body>
		<a href="{{ url_for('splash_page') }}"><button type="button" name="logo">FilmTrackr</button></a>
		<form action = "http://localhost:5000/uploader" method = "POST" 
			enctype = "multipart/form-data">
			<input type = "file" name = "file" />
			<input type = "submit" value = "Upload"/>
		</form>
	</body>
</html>